#logo {
    text-align: center;
    
}

body{
    background-color: #3f7cc5;
    background-image: url(images_etc/clouds.jpg);
}
#kysymysalue {
    border: 10px dotted rgb(18, 54, 91);
    border-radius: 25px;
    text-align: center;
    padding: 15px;
    margin: 5px;
    height: 200px;
    background-color: rgb(31, 96, 161);
}

#vastausalue {
    text-align: center;
}

#vastausalue input {
    padding: 15px;
    margin: 5px;
}

#vastausalue button {
    padding: 25px;
    margin: 5px;
    border-radius: 25px;
    background-color: white;
    hover
}

#vastausalue button:hover {
    background-color: lightgray;
}
